<h3 mat-dialog-title>Acceso</h3>
<mat-dialog-content>
  <mat-form-field>
    <input
      [(ngModel)]="username"
      matInput
      placeholder="Usuario"
      type="text"
      required
    />
    <button
      (click)="username = undefined"
      *ngIf="username"
      aria-label="Clear"
      cdkFocusInitial
      mat-button
      mat-icon-button
      matSuffix
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input
      [(ngModel)]="password"
      matInput
      placeholder="Contraseña"
      type="password"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="courses$ | async as courses">
    <mat-label>Selecciona curso</mat-label>
    <mat-select [(ngModel)]="courseid">
      <mat-option *ngFor="let course of courses" [value]="course.id">{{
        course.denomination
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="login()" mat-button>Enviar</button>
</mat-dialog-actions>
