<div class="view-port">
  <iz-logo [poweredBy]="true" size="large"></iz-logo>
  <div class="hero">
    <img src="assets/images/login-cover.svg" alt="IES" />
    <div class="login" *ngIf="config$ | async as config">
      <h1>{{ config.code }} - {{ config.center }}</h1>
      <form [formGroup]="loginForm">
        <div class="fields">
          <iz-input
            name="Usuario"
            required="true"
            [control]="loginForm.controls.userName"
          ></iz-input>
          <iz-input
            name="Contraseña"
            type="password"
            required="true"
            [control]="loginForm.controls.password"
          ></iz-input>
          <iz-select
            *ngIf="courses$ | async as courses"
            name="Curso"
            [options]="courses"
            required="true"
            [control]="loginForm.controls.course"
            [initialValue]="config.defaultCourse.id"
          ></iz-select>
        </div>
        <iz-button name="Login" (click)="login()"></iz-button>
      </form>
    </div>
  </div>
</div>
