<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="240px">
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>
        <img alt="miw" src="../../../assets/images/logo.png" width="50px" />
      </div>
      <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line>C/ La Noria, 1, 06260 Monesterio (Badajoz)</div>
        <div mat-line></div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>call</mat-icon>
        <div mat-line>+34 924023642</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>mail_outline</mat-icon>
        <div mat-line>adminies.maestrojuancalero@edu.juntaex.es</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>VERSIONES</div>
      <mat-list-item>
        <mat-icon mat-list-icon>computer</mat-icon>
        <div mat-line>Front-end - {{ version }}({{ profile }})</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>cloud_queue</mat-icon>
        <div mat-line>Back-end - Nestjs</div>
        <div mat-line>Api - {{ backEndCore }}</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>SOBRE MI</div>
      <mat-list-item>
        <div mat-line>Francisco Mora Sánchez</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Programador</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>I.E.S. Maestro Juan Calero</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
