@import '_mixins';

:host {
  display: flex;
  flex-direction: column;
  iz-title {
    height: 80px;
    justify-content: flex-end;
  }
  iz-pinned {
    height: 150px;
    margin-bottom: size(margin);
    background: color(bg);
  }
  iz-groups {
    flex-grow: 1;
    margin-bottom: size(margin);
    background: color(bg);
  }
  iz-updates {
    height: 150px;
    background: color(bg);
  }
}
